* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Oxygen", sans-serif;
  font-family: "Pridi", serif;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(224, 217, 217);
}
.splash-screen {
  font-size: 2rem;
  font-weight: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(224, 217, 217);
}

.border {
  box-sizing: border-box;
  border: 1px solid black;
  position: fixed;
  top: 2vh;
  left: 2vh;
  right: 2vh;
  bottom: 2vh;
  overflow: auto;
}
.info{
  position: absolute;
  height: 50%;
  left: 40%;
  right: 30px;
  bottom: 10px;
}
.info>p{
  font-size: 2.5vh;
  font-weight: 300;
  letter-spacing: 0.5vh;
  text-align: right;
  text-wrap: wrap;
}
